{%extends 'parent.html'%}
{%load static%}
{% block body %}

  <!-- ------------------------------silder----------------------- -->
  <div class="row">
    <div class="col-md-12">
        <a href="">
        <div class="bgimg">

        </div>
    </a>
    </div>
</div>

<!-- ------------------------------silder----------------------- -->
  <!-- services start -->

  <div class="row text-white text-center" style="height: 150px; font-weight: bold;border: 1px solid transparent;">
    <div class="col-sm-2 bg-black p-5" style="border-right: 1px solid white;">
      <p> <i class="fa-solid fa-users fa-2xl" style="color: #FF6634;"></i>
        <br>Payroll Management</p>
    </div>
    <div class="col-sm-2 bg-black p-5" style="border-right: 1px solid white;">
      <i class="fa-solid fa-person-military-pointing fa-2xl"style="color: #FF6634;"></i> <p>Contract Staffing</p>
    </div>
    <div class="col-sm-2 bg-black p-5" style="border-right: 1px solid white;">
      <i class="fa-solid fa-user-nurse fa-2xl" style="color: #FF6634;"></i>
      <p>
        Perm Recruitment</p>
    </div>
    <div class="col-sm-2 bg-black p-5" style="border-right: 1px solid white;">
      <i class="fa-solid fa-users-line fa-2xl" style="color: #FF6634;"></i>
      <p>
        Training Management</p>
    </div>
    <div class="col-sm-2 bg-black p-5" style="border-right: 1px solid white;">
      <i class="fa-solid fa-user-group fa-2xl" style="color: #FF6634;"></i><p>
        Recruitment Services</p>
    </div>
    <div class="col-sm-2 bg-black p-5" style="border-right: 1px solid white;">
      <i class="fa-solid fa-users-rectangle fa-2xl" style="color: #FF6634;"></i>
      <p>
        Employee Verification</p>
    </div>
</div>
<!-- services end -->

<div class="row py-5">
  <div class="col-sm-11 mx-auto p-5">
    <img src="fab.png" alt="">
    <img src="mobileprogrammingllc_logo-removebg-preview-e1706161992994.png" alt="">
    <img src="neosoft-removebg-preview-e1706161989107.png" alt="">
    <img src="softpro_logo-removebg-preview-e1706161944791.png" alt="">
    <img src="team_computers_logo-removebg-preview-e1706161941976.png" alt="">
    <img src="damacloid_technologies_pvt_ltd_logo-removebg-preview-e1706161849843.png" alt="">
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <img src="{%static 'img/second.png'%}" alt="" class="w-100 " style="border-radius:0px 0px 0px  30px;">
    </div>
    <div class="col-sm-6 p-5 h-100 bg-black text-white mt-5" style="border-radius: 0px 0px 0px 30px;">
      <p style="font-weight: bold;"> NAVIGATING THE FUTURE OF HR, TODAY</p>
      <br>
      <p style="font-size: 40px;font-weight: bold;">Innovative HR Solutions, <br>
        <span style="color: #FF6634;">Tailored for Your Triumph</span>
      </p>
      <br><br>
      <p>
        At Kezan Consulting, we're committed to offering unique HR solutions, tailored to your needs, creating an environment where your people thrive, and your business flourishes.
      </p>
      <br>
      <p>
        <p><i class="fa-regular fa-circle-check fa-xl" style="color: #FF6634;"></i> Strategic Recruitment</p>
        <p><i class="fa-regular fa-circle-check fa-xl" style="color: #FF6634;"></i> Flexibility and Scalability</p>
        <p><i class="fa-regular fa-circle-check fa-xl" style="color: #FF6634;"></i> Comprehensive Service Portfolio</p>
      </p>
    </div>
  </div>

{% endblock  %}