{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {%block link%}

    {%endblock%}
    <style>
       *
    {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .bgimg{
        background-image: url('{%static "img/22.png"%}');
        height: 500px;
        background-size: cover;
    }
    .footer ul
    {
      list-style-type: disc;
    }
    .footer ul li a 
    {
      text-decoration: none;
      color: white;
    }
    {%block style%}

{%endblock%}
    </style>
</head>
<body style="font-family: sans-serif;">

  <div class="container-fluid">
      <!-- -------------------------headline-------------- -->
      <div class="row  p-2 text-end border">
          <div class="col-sm-4 text-start"><i class="fa-solid fa-envelope" style="color: #FF6634;"></i>&nbsp; Email Address:&nbsp;info@kezanconsulting.com</div>
          <div class="col-sm-4 text-start"><i class="fa-solid fa-location-dot" style="color: #FF6634;"></i>&nbsp; Office Address: 501, Cyber Heights, Lucknow</div>
          <div class="col-sm-2"></div>
          <div class="col-sm-2">
              <span><a href="" style=" text-decoration: none;"><i class="fa-brands fa-facebook text-dark" style=" font-size: 20px;"></i>&nbsp;</a></span>
              <span><a href="" style=" text-decoration: none;"><i class="fa-brands fa-instagram text-dark" style=" font-size: 20px;"></i>&nbsp;</a></span>
              <span><a href="" style=" text-decoration: none;"><i class="fa-brands fa-linkedin text-dark" style=" font-size: 20px;"></i>&nbsp;</a></span>
          </div>
      </div>
 
      <!-- -------------------------headline-------------- -->
      <!-- ---------------------------navbar--------------------- -->
      <div class="row">
          <div class="col-md-12">
              <nav class="navbar navbar-expand-lg bg-light p-3 border">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="{%static 'img/logo-1.png'%}"  height="50px" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mx-3 mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active fw-bold" aria-current="page" href="{%url 'mainapp:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active fw-bold" aria-current="page" href="{%url 'mainapp:about'%}">About Us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active fw-bold" aria-current="page" href="{%url 'mainapp:services'%}">Services</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link active fw-bold" aria-current="page" href="{%url 'mainapp:contact'%}">Contact Us</a>
                        </li>
                      </ul>
                        <div class="div  p-3 my-auto d-flex" style="height: 60px; width:250px; border-radius: 6px; background-color:white;color:#FF6634;border: 2px solid #FF6634;">
                          <a href="{%url 'mainapp:jobseekerreg'%}" style="text-decoration: none;">
                            <h6 class="mt-1 fw-bold" style="margin-left: 10px;cursor: pointer;color:#FF6634; ">APPLY FOR JOBS</h6>&nbsp;</a>
                            <span  class="mx-auto my-auto"></span>
                          <div class="div1" style=" background-color: white; border-radius:5px; padding: 5px; height: 40px; width:40px; font-size: 20px; margin-top: -5px; margin-left: 10px;">
                            <a href="{%url 'mainapp:jobseekerreg'%}"><i class="fa-solid fa-arrow-right my-auto mx-1 " style="color:#FF6634; "></i></a>
                        </div>
                         
                        
                        </div>
                      
                      &nbsp;&nbsp;&nbsp;
                      <div class="div  p-3 my-auto d-flex" style="height: 60px; width:250px; border-radius: 6px; background-color:#FF6634;color:#FF6634;border: 2px solid #FF6634;">
                        <div class="div1" style=" background-color: #FF6634;  border-radius:5px; padding: 5px; height: 40px; width:40px; font-size: 20px; margin-top: -5px; margin-left: 10px;">
                          <a href="{%url 'mainapp:provider'%}"><i class="fa-solid fa-arrow-left my-auto mx-1 text-light"></i></a>
                      </div>
                      <a href="{%url 'mainapp:provider'%}" style="text-decoration: none;">
                       <h6 class="mt-1 fw-bold" style="margin-left: 10px;cursor: pointer;color: white;">BE A PROVIDER</h6>&nbsp;</a>
                       <span  class="mx-auto my-auto"></span>
                      </div>
                      &nbsp;
                      <a href="{%url 'mainapp:adlogin'%}" style="text-decoration: none;cursor: pointer;">
                     <div class="div  p-3 my-auto d-flex text-end justify-content-between " style="height: 60px; width:150px; border-radius: 6px; background-color:#ff4000;color: white;">
                      <h6 class="mt-1 fw-bold" style="color: white;cursor: pointer;">ADMIN</h6>&nbsp;
                      <div class="div1" style=" background-color: #fff9f7;  border-radius:5px; padding: 5px; height: 40px; width:40px; font-size: 20px; margin-top: -5px; margin-left: 30px;">
                        <span  class="mx-auto my-auto"></span>
                          <a href="{%url 'mainapp:adlogin'%}"><i class="fa-solid fa-user my-auto mx-1 "style="color:#ff6634"></i></a>
                      </div>
                     </div>
                    </a>
                    </div>
                  </div>
                </nav>
          </div>
      </div>
      <!-- ---------------------------navbar--------------------- -->
    

      <!-- body content start -->
      <div class="container-fluid">
{%block body%}
       
        
        {%endblock%}
      </div>

      <div class="row" style="height: 100px;">

      </div>

      <!-- body content end -->


      <!-- footer start -->

      <div class="container-fluid bg-black">
        <div class="container py-5">
          <div class="row p-3 text-white footer">
            <div class="col-sm-3 p-2">
              <img src="{%static 'img/logo-1.png'%}" alt="" height="100px">
              <br>
              <br>
              <p>
                At Kezan Consulting, we believe in the power of human potential. 
                <br>
                Our mission is to empower businesses like yours to thrive by harnessing the full capabilities of your most valuable asset—your people.
              </p>
            </div>
            <div class="col-sm-3 p-2">
              <p style="font-weight: bold; font-size: 20px;">
                <span style="border-bottom: 2px solid #FF6634; padding-bottom: 10px;">COMP</span>ANY
              </p>
              <br>
              <ul>
                <li><a href="#">About Us</a></li>
                <br>
                <li><a href="#">Contact Us</a></li>
                <br>
                <li><a href="#">Corporate Social Responsibility</a></li>
              </ul>
            </div>
            <div class="col-sm-3 p-2">
              <p style="font-weight: bold; font-size: 20px;">
                <span style="border-bottom: 2px solid #FF6634; padding-bottom: 10px;">SERV</span>ICES
              </p>
              <br>
              <ul>
                <li><a href="#">Payroll Management</a></li>
                <br>
                <li><a href="#">Perm Recruitment</a></li>
                <br>
                <li><a href="#">Contract Staffing</a></li>
                <br>
                <li><a href="#">Training Management</a></li>
              </ul>
            </div>
            <div class="col-sm-3 p-2">
              <p style="font-weight: bold; font-size: 20px;">
                <span style="border-bottom: 2px solid #FF6634; padding-bottom: 10px;">ADDR</span>ESS:
              </p>
              <br>
              <p>
                501 A, 5th Floor, Cyber Heights, Vibhuti Khand, Gomti Nagar, Lucknow, Uttar Pradesh 226010
Talk To Our Support 0522 4339679
              </p>
              <br>
              <p style="font-weight: bold; font-size: 20px;">
                <span style="border-bottom: 2px solid #FF6634; padding-bottom: 10px;">FOLLO</span>W US ON
              </p>
            </div>
          </div>
          <hr>
          <div class="row py-1">
            <div class="col-sm-12 text-white text-center">
              <p>
                Copyright © 2024 Designed and developed by <span style="color: #FF6634; font-weight: bold;"> Wasif and Kaushtub </span>, All Rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- footer end -->




    <script src="{%static 'js/script.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>

{%block script%}
{%endblock%}
</body>
</html>