{%extends 'parent.html'%}
{%load static%}
{% block body %}
    <!-- slider start -->
    <div class="container-fluid">
        <div class="row" style="background-image: url({%static 'img/title-bg.jpg'%}); background-size: cover; background-repeat: no-repeat; height: 500px;">
            <div class="col-sm-10 mx-auto my-auto text-white">
                <p style="font-weight: bold; font-size: 32px;">
                    <span style="border-bottom: 2px solid #FF6634;padding-bottom: 5px;">SERV</span>ICES
                </p>
                <a href="{%url 'mainapp:index'%}" style="color: white;text-decoration: none;">Kezan Consulting: Your Trusted Partner for Strategic Human Resource Solutions </a>> Services
            </div>
                </div>
                </div>
    <!-- slider end -->

    <!-- body start -->
    <div class="container py-5">
        <div class="row py-3 text-center">
            <div class="col-sm-4 mx-auto px-4">
                <img src="{%static 'img/contract-staffing-770x500.png'%}" alt="" class="w-100" style="border-radius: 10px;">
                <br>
                <br>
                <br>
                <h4 style="font-weight: bold;">
                    Contract Staffing
                </h4>
                <p class="text-secondary">
                    Improving Resources provides broad menu Human Resource Service
                </p>
                <br>
                <p style="font-weight: bold;color: #FF6634;">
                    MORE <i class="fa-solid fa-arrow-right"></i>
                </p>
            </div>
            <div class="col-sm-4 mx-auto px-4">
                <img src="{%static 'img/Employee-Verification-770x500.png'%}" alt="" class="w-100" style="border-radius: 10px;">
                <br>
                <br>
                <br>
                <h4 style="font-weight: bold;">
                    Employee Verification
                </h4>
                <p class="text-secondary">
                    Strategic Planning provides broad menu Human Resource Service
                </p>
                <br>
                <p style="font-weight: bold;color: #FF6634;">
                    MORE <i class="fa-solid fa-arrow-right"></i>
                </p>
            </div>
            <div class="col-sm-4 mx-auto px-4">
                <img src="{%static 'img/Payroll-Management-770x500.png'%}" alt="" class="w-100" style="border-radius: 10px;">
                <br>
                <br>
                <br>
                <h4 style="font-weight: bold;">
                    Payroll Management
                </h4>
                <p class="text-secondary">
                    Employee Training are provides broad menu Human Resource Service
                </p>
                <br>
                <p style="font-weight: bold;color: #FF6634;">
                    MORE <i class="fa-solid fa-arrow-right"></i>
                </p>
            </div>
        </div>

        <div class="row py-3 text-center">

            <div class="col-sm-4 mx-auto px-4">
                <img src="{%static 'img/perm-770x500.png'%}" alt="" class="w-100" style="border-radius: 10px;">
                <br>
                <br>
                <br>
                <h4 style="font-weight: bold;">
                    Perm Recruitment
                </h4>
                <p class="text-secondary">
                    Compensation Consulting provides broad menu Human Resource Service
                </p>
                <br>
                <p style="font-weight: bold;color: #FF6634;">
                    MORE <i class="fa-solid fa-arrow-right"></i>
                </p>
            </div>
            <div class="col-sm-4 mx-auto px-4 ">
                <img src="{%static 'img/Training-Management-770x500.png'%}" alt="" class="w-100" style="border-radius: 10px;">
                <br>
                <br>
                <br>
                <h4 style="font-weight: bold;">
                    Training Management
                </h4>
                <p class="text-secondary">
                    Leadership Training provides broad menu Human Resource Service
                </p>
                <br>
                <p style="font-weight: bold;color: #FF6634;">
                    MORE <i class="fa-solid fa-arrow-right"></i>
                </p>
            </div>
        </div>
    </div>
    <!-- body end -->

{%endblock%}